# PART2 データをもう少し詳しく見てみよう
## おまじない

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

## データの読み込み
- train.csvを読み込みましょう
- 読み込んだものは変数trainに代入しましょう

In [2]:
train = pd.read_csv('train.csv')

## trainの先頭行を見てみましょう

In [3]:
train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

## 基本統計量を確認してみましょう
- describe関数を使います

In [4]:
train.describe()

                y     soldout        kcal  payday  temperature
count  207.000000  207.000000  166.000000    10.0   207.000000
mean    86.623188    0.449275  404.409639     1.0    19.252174
std     32.882448    0.498626   29.884641     0.0     8.611365
min     29.000000    0.000000  315.000000     1.0     1.200000
25%     57.000000    0.000000  386.000000     1.0    11.550000
50%     78.000000    0.000000  408.500000     1.0    19.800000
75%    113.000000    1.000000  426.000000     1.0    26.100000
max    171.000000    1.000000  462.000000     1.0    34.600000

## データの型を確認してみましょう
- info関数を使います

## 1つのカラムだけに注目してみましょう
- ここでは"y"というカラムを見てみましょう

## yの平均と中央値を見てみましょう
- 平均値はmean関数、中央値はmedian関数を使います

## yの値が150以上のデータのみを見てみましょう

## 曜日が月となっているデータのみを見てみましょう

## 曜日が火となっているデータをyで昇順・降順にして見てみましょう
- ソートはsort_values関数を使います。sort_values(by="XXX")と書きます
- 降順にしたい場合はカッコの中にオプションとしてascending=Falseを書きます

## 曜日が月曜日の時のyの平均値を見てみましょう
- 今までの応用です。まず、trainから曜日が月曜日の条件で抜きだし、yを選択した上で、その後に平均値を求める関数を使います

# 実習

1.test.csvを変数testとして読み込もう

2.testの先頭行を確認しましょう

3.testの基本統計量を調べてみよう

4.trainのtemperatureの平均値を求めてみよう

5.trainのtemperatureが平均以上のデータだけを選択してみよう

6.trainで今度はyとweekの2つのカラムを選択したい。どうしたらいいだろう？
- []をもう一つ使う