In [1]:
from pycaret.datasets import get_data
dataset = get_data('iris')

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [2]:
#check the shape of data
dataset.shape

(150, 5)

In [5]:
data = dataset.sample(frac=0.9, random_state=786)
data_unseen = dataset.drop(data.index)

data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (135, 5)
Unseen Data For Predictions: (15, 5)

In [15]:
data

     sepal_length  sepal_width  petal_length  petal_width          species
0             5.8          2.7           3.9          1.2  Iris-versicolor
1             5.7          2.8           4.5          1.3  Iris-versicolor
2             7.7          3.0           6.1          2.3   Iris-virginica
3             5.8          2.6           4.0          1.2  Iris-versicolor
4             7.0          3.2           4.7          1.4  Iris-versicolor
..            ...          ...           ...          ...              ...
130           4.9          2.4           3.3          1.0  Iris-versicolor
131           6.5          3.2           5.1          2.0   Iris-virginica
132           6.9          3.1           5.4          2.1   Iris-virginica
133           5.8          2.7           4.1          1.0  Iris-versicolor
134           4.8          3.4           1.6          0.2      Iris-setosa

[135 rows x 5 columns]

In [16]:
data_unseen

    sepal_length  sepal_width  petal_length  petal_width          species
0            5.4          3.9           1.7          0.4      Iris-setosa
1            5.4          3.4           1.7          0.2      Iris-setosa
2            5.1          3.3           1.7          0.5      Iris-setosa
3            4.8          3.1           1.6          0.2      Iris-setosa
4            6.9          3.1           4.9          1.5  Iris-versicolor
5            5.6          2.9           3.6          1.3  Iris-versicolor
6            5.5          2.4           3.7          1.0  Iris-versicolor
7            6.3          2.3           4.4          1.3  Iris-versicolor
8            6.3          2.9           5.6          1.8   Iris-virginica
9            7.3          2.9           6.3          1.8   Iris-virginica
10           6.7          3.3           5.7          2.1   Iris-virginica
11           6.4          2.8           5.6          2.2   Iris-virginica
12           6.8          3.2           5.9          2.3   Iris-virginica
13           6.3          2.5           5.0          1.9   Iris-virginica
14           5.9          3.0           5.1          1.8   Iris-virginica

In [6]:
from pycaret.classification import *
exp_mclf101 = setup(data = data, target = 'species', session_id=123)

In [7]:
best = compare_models()

In [9]:
dt = create_model('dt')

In [10]:
#trained model object is stored in the variable 'dt'.
print(dt)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=123, splitter='best')

In [11]:
tuned_dt = tune_model(dt)

In [12]:
#tuned model object is stored in the variable 'tuned_dt'.
print(tuned_dt)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                       min_impurity_decrease=0.2, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=5,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=123, splitter='best')

In [14]:
predict_model(tuned_dt)

,sepal_length,sepal_width,petal_length,petal_width,species,Label,Score
0,5.7,2.6,3.5,1.0,Iris-versicolor,Iris-versicolor,0.9062
1,5.2,3.5,1.5,0.2,Iris-setosa,Iris-setosa,1.0000
2,6.5,3.0,5.2,2.0,Iris-virginica,Iris-virginica,0.9615
3,4.8,3.4,1.9,0.2,Iris-setosa,Iris-setosa,1.0000
4,7.0,3.2,4.7,1.4,Iris-versicolor,Iris-versicolor,0.9062
5,5.5,2.6,4.4,1.2,Iris-versicolor,Iris-versicolor,0.9062
6,4.9,3.0,1.4,0.2,Iris-setosa,Iris-setosa,1.0000
7,4.6,3.6,1.0,0.2,Iris-setosa,Iris-setosa,1.0000
8,5.1,3.8,1.6,0.2,Iris-setosa,Iris-setosa,1.0000
9,5.8,2.7,3.9,1.2,Iris-versicolor,Iris-versicolor,0.9062
10,5.7,2.9,4.2,1.3,Iris-versicolor,Iris-versicolor,0.9062
11,6.7,3.3,5.7,2.5,Iris-virginica,Iris-virginica,0.9615
12,4.9,2.5,4.5,1.7,Iris-virginica,Iris-versicolor,0.9062
13,5.8,2.7,4.1,1.0,Iris-versicolor,Iris-versicolor,0.9062
14,6.1,3.0,4.6,1.4,Iris-versicolor,Iris-versicolor,0.9062
15,6.0,3.0,4.8,1.8,Iris-virginica,Iris-virginica,0.9615
16,5.1,2.5,3.0,1.1,Iris-versicolor,Iris-versicolor,0.9062
17,6.4,2.8,5.6,2.1,Iris-virginica,Iris-virginica,0.9615
18,5.2,4.1,1.5,0.1,Iris-setosa,Iris-setosa,1.0000
19,5.8,2.8,5.1,2.4,Iris-virginica,Iris-virginica,0.9615
20,6.8,2.8,4.8,1.4,Iris-versicolor,Iris-versicolor,0.9062
21,7.6,3.0,6.6,2.1,Iris-virginica,Iris-virginica,0.9615
22,6.1,3.0,4.9,1.8,Iris-virginica,Iris-virginica,0.9615
23,7.2,3.2,6.0,1.8,Iris-virginica,Iris-virginica,0.9615
24,7.2,3.0,5.8,1.6,Iris-virginica,Iris-versicolor,0.9062
25,4.9,3.1,1.5,0.1,Iris-setosa,Iris-setosa,1.0000
26,4.7,3.2,1.6,0.2,Iris-setosa,Iris-setosa,1.0000
27,6.6,2.9,4.6,1.3,Iris-versicolor,Iris-versicolor,0.9062
28,7.9,3.8,6.4,2.0,Iris-virginica,Iris-virginica,0.9615
29,5.6,2.7,4.2,1.3,Iris-versicolor,Iris-versicolor,0.9062
30,6.4,3.2,4.5,1.5,Iris-versicolor,Iris-versicolor,0.9062
31,4.8,3.4,1.6,0.2,Iris-setosa,Iris-setosa,1.0000
32,5.4,3.0,4.5,1.5,Iris-versicolor,Iris-versicolor,0.9062
33,6.9,3.2,5.7,2.3,Iris-virginica,Iris-virginica,0.9615
34,6.3,3.3,6.0,2.5,Iris-virginica,Iris-virginica,0.9615
35,5.8,2.7,5.1,1.9,Iris-virginica,Iris-virginica,0.9615
36,5.2,2.7,3.9,1.4,Iris-versicolor,Iris-versicolor,0.9062
37,6.2,2.2,4.5,1.5,Iris-versicolor,Iris-versicolor,0.9062
38,6.6,3.0,4.4,1.4,Iris-versicolor,Iris-versicolor,0.9062
39,4.7,3.2,1.3,0.2,Iris-setosa,Iris-setosa,1.0000
40,7.2,3.6,6.1,2.5,Iris-virginica,Iris-virginica,0.9615

In [22]:
data_unseen = data_unseen.drop(['species'], axis=1)

In [23]:
unseen_predictions = predict_model(tuned_dt, data=data_unseen)

In [24]:
unseen_predictions

,sepal_length,sepal_width,petal_length,petal_width,Label,Score
0,5.4,3.9,1.7,0.4,Iris-setosa,1.0000
1,5.4,3.4,1.7,0.2,Iris-setosa,1.0000
2,5.1,3.3,1.7,0.5,Iris-setosa,1.0000
3,4.8,3.1,1.6,0.2,Iris-setosa,1.0000
4,6.9,3.1,4.9,1.5,Iris-versicolor,0.9062
5,5.6,2.9,3.6,1.3,Iris-versicolor,0.9062
6,5.5,2.4,3.7,1.0,Iris-versicolor,0.9062
7,6.3,2.3,4.4,1.3,Iris-versicolor,0.9062
8,6.3,2.9,5.6,1.8,Iris-virginica,0.9615
9,7.3,2.9,6.3,1.8,Iris-virginica,0.9615
10,6.7,3.3,5.7,2.1,Iris-virginica,0.9615
11,6.4,2.8,5.6,2.2,Iris-virginica,0.9615
12,6.8,3.2,5.9,2.3,Iris-virginica,0.9615
13,6.3,2.5,5.0,1.9,Iris-virginica,0.9615
14,5.9,3.0,5.1,1.8,Iris-virginica,0.9615