In [18]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split, GridSearchCV
import datetime

import lightgbm as lgb
from sklearn import preprocessing
from sklearn import metrics

In [2]:
!dir

 ドライブ D のボリューム ラベルがありません。
 ボリューム シリアル番号は 3417-05D0 です

 D:\PythonTraining\Signate\【SOTA】アップル 引越し需要予測 のディレクトリ

2020/10/29  19:30    <DIR>          .
2020/10/29  19:30    <DIR>          ..
2020/10/29  19:30    <DIR>          .ipynb_checkpoints
2020/07/24  19:52            36,738 20200724.ipynb
2020/10/29  19:29            34,818 20201029.ipynb
2020/10/27  20:18            10,921 sample_submit.csv
2020/10/27  20:18             7,351 test.csv
2020/10/27  20:18            48,706 train.csv
               5 個のファイル             138,534 バイト
               3 個のディレクトリ  947,619,794,944 バイトの空き領域

In [45]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submit_df = pd.read_csv('sample_submit.csv', header=None)

In [4]:
train

        datetime    y  client  close  price_am  price_pm
0     2010-07-01   17       0      0        -1        -1
1     2010-07-02   18       0      0        -1        -1
2     2010-07-03   20       0      0        -1        -1
3     2010-07-04   20       0      0        -1        -1
4     2010-07-05   14       0      0        -1        -1
...          ...  ...     ...    ...       ...       ...
2096  2016-03-27   94       1      0         5         4
2097  2016-03-28   86       1      0         4         4
2098  2016-03-29   98       1      0         4         4
2099  2016-03-30   99       1      0         5         4
2100  2016-03-31  105       1      0         5         4

[2101 rows x 6 columns]

In [5]:
test

       datetime  client  close  price_am  price_pm
0    2016-04-01       1      0         3         2
1    2016-04-02       0      0         5         5
2    2016-04-03       1      0         2         2
3    2016-04-04       1      0         1         1
4    2016-04-05       0      0         1         1
..          ...     ...    ...       ...       ...
360  2017-03-27       0      0         5         4
361  2017-03-28       0      0         4         4
362  2017-03-29       0      0         3         3
363  2017-03-30       0      0         4         3
364  2017-03-31       1      0         5         4

[365 rows x 5 columns]

In [6]:
test['y'] = -999

In [7]:
all_df = pd.concat([train, test], axis=0).reset_index(drop=True)
all_df

        datetime    y  client  close  price_am  price_pm
0     2010-07-01   17       0      0        -1        -1
1     2010-07-02   18       0      0        -1        -1
2     2010-07-03   20       0      0        -1        -1
3     2010-07-04   20       0      0        -1        -1
4     2010-07-05   14       0      0        -1        -1
...          ...  ...     ...    ...       ...       ...
2461  2017-03-27 -999       0      0         5         4
2462  2017-03-28 -999       0      0         4         4
2463  2017-03-29 -999       0      0         3         3
2464  2017-03-30 -999       0      0         4         3
2465  2017-03-31 -999       1      0         5         4

[2466 rows x 6 columns]

In [8]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2466 entries, 0 to 2465
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  2466 non-null   object
 1   y         2466 non-null   int64
 2   client    2466 non-null   int64
 3   close     2466 non-null   int64
 4   price_am  2466 non-null   int64
 5   price_pm  2466 non-null   int64
dtypes: int64(5), object(1)
memory usage: 115.7+ KB

In [9]:
all_df['datetime'] = all_df['datetime'].apply(lambda x: pd.to_datetime(x))

In [10]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2466 entries, 0 to 2465
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  2466 non-null   datetime64[ns]
 1   y         2466 non-null   int64
 2   client    2466 non-null   int64
 3   close     2466 non-null   int64
 4   price_am  2466 non-null   int64
 5   price_pm  2466 non-null   int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 115.7 KB

In [11]:
all_df['week'] = all_df['datetime'].apply(lambda x: x.strftime('%a'))

In [27]:
all_df['year'] = all_df['datetime'].apply(lambda x: x.year)
all_df['month'] = all_df['datetime'].apply(lambda x: x.month)
all_df['day'] = all_df['datetime'].apply(lambda x: x.day)
all_df

,datetime,y,client,close,price_am,price_pm,week,year,month,day
0,2010-07-01,17,0,0,-1,-1,4,2010,7,1
1,2010-07-02,18,0,0,-1,-1,0,2010,7,2
2,2010-07-03,20,0,0,-1,-1,2,2010,7,3
3,2010-07-04,20,0,0,-1,-1,3,2010,7,4
4,2010-07-05,14,0,0,-1,-1,1,2010,7,5
...,...,...,...,...,...,...,...,...,...,...
2461,2017-03-27,-999,0,0,5,4,1,2017,3,27
2462,2017-03-28,-999,0,0,4,4,5,2017,3,28
2463,2017-03-29,-999,0,0,3,3,6,2017,3,29
2464,2017-03-30,-999,0,0,4,3,4,2017,3,30
2465,2017-03-31,-999,1,0,5,4,0,2017,3,31

In [28]:
train = all_df[all_df['y'] != -999]
test = all_df[all_df['y'] == -999]

In [29]:
train

,datetime,y,client,close,price_am,price_pm,week,year,month,day
0,2010-07-01,17,0,0,-1,-1,4,2010,7,1
1,2010-07-02,18,0,0,-1,-1,0,2010,7,2
2,2010-07-03,20,0,0,-1,-1,2,2010,7,3
3,2010-07-04,20,0,0,-1,-1,3,2010,7,4
4,2010-07-05,14,0,0,-1,-1,1,2010,7,5
...,...,...,...,...,...,...,...,...,...,...
2096,2016-03-27,94,1,0,5,4,3,2016,3,27
2097,2016-03-28,86,1,0,4,4,1,2016,3,28
2098,2016-03-29,98,1,0,4,4,5,2016,3,29
2099,2016-03-30,99,1,0,5,4,6,2016,3,30
2100,2016-03-31,105,1,0,5,4,4,2016,3,31

In [30]:
train.isnull().any()

datetime    False
y           False
client      False
close       False
price_am    False
price_pm    False
week        False
year        False
month       False
day         False
dtype: bool

In [31]:
for col in train.columns:
    print(train[col].value_counts())

2015-10-18    1
2011-03-28    1
2011-10-06    1
2012-11-09    1
2010-07-23    1
             ..
2015-01-27    1
2014-04-22    1
2013-07-25    1
2010-12-20    1
2011-10-29    1
Name: datetime, Length: 2101, dtype: int64
21     59
39     54
29     53
22     52
31     51
       ..
100     1
98      1
90      1
76      1
109     1
Name: y, Length: 99, dtype: int64
0    1895
1     206
Name: client, dtype: int64
0    2074
1      27
Name: close, dtype: int64
 0    945
 1    587
 2    250
-1    211
 3     46
 4     33
 5     29
Name: price_am, dtype: int64
 0    1191
 1     496
-1     212
 2     125
 3      34
 4      30
 5      13
Name: price_pm, dtype: int64
4    301
5    300
3    300
1    300
6    300
2    300
0    300
Name: week, dtype: int64
2012    366
2015    365
2013    365
2011    365
2014    365
2010    184
2016     91
Name: year, dtype: int64
7     186
3     186
1     186
12    186
10    186
8     186
11    180
9     180
2     170
5     155
6     150
4     150
Name: month, dtype: int64
1     69
28    69
4     69
6     69
8     69
10    69
12    69
14    69
16    69
18    69
20    69
22    69
24    69
26    69
2     69
3     69
5     69
7     69
9     69
11    69
13    69
15    69
17    69
19    69
21    69
23    69
25    69
27    69
29    65
30    63
31    41
Name: day, dtype: int64

In [32]:
# カテゴリカラムの前処理
categorical_features = ['week']
for col in categorical_features:
    lbl = preprocessing.LabelEncoder()
    lbl.fit(all_df[col])
    lbl.transform(all_df[col])
    all_df[col]=lbl.transform(all_df[col])

In [33]:
# 訓練データ、テストデータの分割
train_df = all_df[all_df['y']!=-999]
test_df = all_df[all_df['y']==-999]

In [34]:
y_train = train_df['y']
X_train = train_df.drop(['y', 'datetime'], axis=1)
X_test = test_df.drop(['y', 'datetime'], axis=1)

In [35]:
X_train

      client  close  price_am  price_pm  week  year  month  day
0          0      0        -1        -1     4  2010      7    1
1          0      0        -1        -1     0  2010      7    2
2          0      0        -1        -1     2  2010      7    3
3          0      0        -1        -1     3  2010      7    4
4          0      0        -1        -1     1  2010      7    5
...      ...    ...       ...       ...   ...   ...    ...  ...
2096       1      0         5         4     3  2016      3   27
2097       1      0         4         4     1  2016      3   28
2098       1      0         4         4     5  2016      3   29
2099       1      0         5         4     6  2016      3   30
2100       1      0         5         4     4  2016      3   31

[2101 rows x 8 columns]

In [37]:
y_train

0        17
1        18
2        20
3        20
4        14
       ...
2096     94
2097     86
2098     98
2099     99
2100    105
Name: y, Length: 2101, dtype: int64

In [38]:
# 訓練データからデータを分割
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.3, random_state=0)

In [39]:
# 使用モデルはLGB（パラメータチューニング無）
lgb_train = lgb.Dataset(X_train, y_train, categorical_feature=categorical_features)
lgb_eval = lgb.Dataset(X_valid, y_valid, reference=lgb_train, categorical_feature=categorical_features)

params = {
    'objective': 'regression',
    'learning_rate': 0.1, # 学習率
    'max_depth': -1, # 木の数 (負の値で無制限)
    'num_leaves': 9, # 枝葉の数
    'metric': ('mean_absolute_error', 'mean_squared_error', 'rmse'),
    #メトリック https://lightgbm.readthedocs.io/en/latest/Parameters.html#metric-parameters
    'drop_rate': 0.15,
    'verbose': 0
}

model = lgb.train(
    params, lgb_train,
    valid_sets=[lgb_train, lgb_eval],
    verbose_eval=10,
    num_boost_round=1000,
    early_stopping_rounds=10
)

y_pred = model.predict(X_test, num_iteration=model.best_iteration)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000121 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
Training until validation scores don't improve for 10 rounds
[10]	training's l1: 8.22606	training's l2: 114.406	training's rmse: 10.6961	valid_1's l1: 8.46352	valid_1's l2: 118.215	valid_1's rmse: 10.8727
[20]	training's l1: 6.64832	training's l2: 72.8382	training's rmse: 8.53453	valid_1's l1: 6.75511	valid_1's l2: 76.3892	valid_1's rmse: 8.74009
[30]	training's l1: 5.91955	training's l2: 58.7409	training's rmse: 7.66426	valid_1's l1: 6.11861	valid_1's l2: 63.278	valid_1's rmse: 7.95475
[40]	training's l1: 5.53097	training's l2: 51.8209	training's rmse: 7.19868	valid_1's l1: 5.77167	valid_1's l2: 57.6276	valid_1's rmse: 7.59128
[50]	training's l1: 5.31641	training's l2: 47.8328	training's rmse: 6.91612	valid_1's l1: 5.56934	valid_1's l2: 54.5596	valid_1's rmse: 7.38645
[60]	training's l1: 5.15199	training's l2: 44.9119	training's rmse: 6.70164	valid_1's l1: 5.48592	valid_1's l2: 52.7289	valid_1's rmse: 7.26146
[70]	training's l1: 5.02209	training's l2: 42.6552	training's rmse: 6.53109	valid_1's l1: 5.42779	valid_1's l2: 51.5816	valid_1's rmse: 7.18204
[80]	training's l1: 4.8974	training's l2: 40.5384	training's rmse: 6.36698	valid_1's l1: 5.37278	valid_1's l2: 50.3446	valid_1's rmse: 7.0954
[90]	training's l1: 4.80123	training's l2: 38.9537	training's rmse: 6.24129	valid_1's l1: 5.33506	valid_1's l2: 49.3487	valid_1's rmse: 7.02486
[100]	training's l1: 4.72183	training's l2: 37.725	training's rmse: 6.14206	valid_1's l1: 5.31062	valid_1's l2: 48.7954	valid_1's rmse: 6.98537
[110]	training's l1: 4.6397	training's l2: 36.4371	training's rmse: 6.03632	valid_1's l1: 5.28378	valid_1's l2: 48.1641	valid_1's rmse: 6.94004
[120]	training's l1: 4.55686	training's l2: 35.1374	training's rmse: 5.92768	valid_1's l1: 5.26909	valid_1's l2: 47.9791	valid_1's rmse: 6.92669
[130]	training's l1: 4.49507	training's l2: 34.1036	training's rmse: 5.83982	valid_1's l1: 5.2487	valid_1's l2: 47.6799	valid_1's rmse: 6.90506
[140]	training's l1: 4.44469	training's l2: 33.2138	training's rmse: 5.76314	valid_1's l1: 5.24011	valid_1's l2: 47.4796	valid_1's rmse: 6.89054
Early stopping, best iteration is:
[139]	training's l1: 4.44721	training's l2: 33.2791	training's rmse: 5.7688	valid_1's l1: 5.23905	valid_1's l2: 47.4934	valid_1's rmse: 6.89154

D:\anaconda3\lib\site-packages\lightgbm\basic.py:1551: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')
D:\anaconda3\lib\site-packages\lightgbm\basic.py:1286: UserWarning: Overriding the parameters from Reference Dataset.
  warnings.warn('Overriding the parameters from Reference Dataset.')
D:\anaconda3\lib\site-packages\lightgbm\basic.py:1098: UserWarning: categorical_column in param dict is overridden.
  warnings.warn('{} in param dict is overridden.'.format(cat_alias))

In [40]:
y_pred

array([72.28215495, 73.31575401, 67.00150248, 62.63090487, 60.7990334 ,
       62.694859  , 61.57379834, 61.32422358, 65.87925178, 63.20735329,
       46.23665473, 45.62437799, 45.98913566, 44.86807499, 57.04207846,
       64.75000365, 62.23727538, 44.16876407, 44.78937149, 45.31465528,
       43.05036961, 61.51494853, 66.98577283, 66.20879439, 60.71413432,
       50.04106271, 61.58894206, 66.22731263, 79.83379906, 79.48537711,
       58.16975526, 43.55985163, 43.01092992, 47.84996965, 32.28792355,
       34.52099959, 53.54646032, 42.68257347, 35.71216314, 31.32857373,
       30.7186836 , 31.32503414, 49.05688066, 53.98503168, 51.0013584 ,
       39.06619789, 34.41205748, 34.22874884, 34.83509937, 53.99997976,
       59.08047441, 56.3253749 , 45.72292331, 43.30933589, 43.27723744,
       43.88358798, 56.96705977, 72.31281772, 70.52701303, 65.50439461,
       61.75052754, 50.3260007 , 34.08101083, 45.2896005 , 60.09395141,
       44.01004402, 34.37587609, 29.6877095 , 29.50440086, 30.27760091,
       43.50878705, 52.58985072, 45.78065127, 35.72012025, 31.03195366,
       35.16617289, 35.69019129, 53.87524666, 57.26093694, 50.48756488,
       41.25274706, 37.06423729, 42.30471551, 42.91106604, 55.28991492,
       63.63683082, 62.08910881, 57.00335429, 57.64402301, 57.65944834,
       61.62909288, 50.47716078, 57.83648815, 51.65884441, 38.25551786,
       31.11731469, 29.67843905, 30.1107514 , 47.42732516, 58.63418475,
       36.40271545, 35.87564942, 31.18748283, 31.08904895, 31.5213613 ,
       53.33683322, 56.63045451, 51.10561657, 39.23043245, 35.04192269,
       37.12133258, 37.46312802, 54.46164314, 58.23548146, 56.97899126,
       47.16322637, 43.87980431, 46.43331816, 49.82176883, 62.1200025 ,
       71.02852671, 70.21350925, 49.31864049, 44.3137123 , 35.30633017,
       34.24109195, 42.92560065, 48.02906379, 43.88186376, 34.8793817 ,
       31.34431689, 33.04808404, 33.08508273, 50.36938902, 35.30795169,
       36.93950874, 40.32548859, 13.07320717, 37.12946586, 37.43201655,
       49.2518516 , 55.97033783, 44.58793376, 47.53659205, 46.95252944,
       48.33553011, 47.91180591, 58.08100204, 66.74622743, 64.76265628,
       57.65464239, 55.61377515, 61.74785719, 52.53159905, 45.59079108,
       52.95426887, 52.89878732, 35.62342807, 30.43400409, 30.64360012,
       30.94615081, 49.86941205, 56.12837809, 45.70122166, 35.80720724,
       34.38775137, 32.95100375, 37.57108231, 56.07470653, 60.26610687,
       56.77051377, 40.06801671, 49.7718622 , 51.21728933, 56.28805792,
       58.42018939, 65.238327  , 64.29931071, 48.92182306, 50.18968578,
       61.88633578, 62.61613479, 64.834552  , 61.17509824, 55.16376173,
       42.10228053, 36.82908317, 34.47552738, 33.50164234, 50.24210203,
       55.52441386, 52.10156022, 46.78367631, 33.95396222, 34.32241202,
       34.66164414, 51.07502342, 56.51142925, 50.6495912 , 38.99489977,
       36.99170177, 37.67385991, 40.66218726, 56.39400041, 60.66967449,
       54.79975254, 49.35016541, 47.20694373, 48.87294992, 59.8417642 ,
       62.54348526, 72.87014468, 71.48963467, 65.95163104, 38.08806348,
       36.03389915, 34.46728597, 37.6283727 , 50.46121766, 43.87519937,
       33.95178203, 30.02382897, 27.92986883, 30.00241082, 33.92683887,
       50.91242847, 34.12481136, 35.15997717, 33.57892139, 35.60335252,
       35.95713981, 37.63646521, 58.89733118, 51.54439558, 42.1986672 ,
       45.76969756, 44.64152384, 43.90200077, 54.4555025 , 61.21274886,
       61.98114934, 51.25873136, 57.82431337, 56.97074434, 51.32928257,
       51.12609588, 58.72220644, 46.81024121, 37.51522605, 32.79972491,
       32.52077928, 33.25533711, 49.87919859, 52.82674052, 46.61027918,
       38.9190668 , 36.69282544, 36.25502604, 41.53925491, 59.71814703,
       63.57404312, 55.93369084, 50.11951486, 48.79716638, 48.74141218,
       56.0914828 , 63.24445284, 66.09535316, 64.95820966, 60.2895359 ,
       45.95662165, 48.5084755 , 53.99647857, 55.24406647, 23.11993965,
        5.99149788,  3.02213672, -0.99931691, 23.42888508, 20.57493777,
       26.86541698, 33.78686759, 33.27297491, 31.8710173 , 28.17350133,
       27.80025984, 27.35424264, 34.40648736, 44.82433055, 41.49618962,
       37.40084086, 32.46098984, 32.37755902, 31.93154182, 43.03915932,
       61.10537455, 54.99046139, 46.80417648, 44.20015281, 44.35502595,
       44.40123686, 62.20206852, 73.93290598, 67.92020062, 63.73492072,
       65.67232312, 51.45239715, 36.43795329, 39.51348346, 62.18108563,
       44.72606401, 33.98496623, 34.83948883, 34.07329803, 37.96996396,
       41.61452486, 66.19669314, 49.81972799, 40.7415188 , 38.69399428,
       43.11031331, 40.92266835, 44.08568446, 67.51966049, 61.96495376,
       55.4079711 , 54.27580622, 57.37591028, 56.8018467 , 75.77993171,
       80.1649653 , 75.86042774, 80.21335718, 85.23066547, 67.79525806,
       60.31390921, 56.52252768, 65.95769049, 60.10114282, 60.20710905,
       62.69973129, 56.48410376, 58.70878539, 66.94576975, 71.95686502,
       65.90131592, 72.83131939, 73.57834422, 79.83802947, 92.52152551,
       91.14362527, 88.91202183, 90.28844953, 90.87933803, 92.99627083,
       91.98353541, 92.6703061 , 92.39213469, 89.3693132 , 89.95895054,
       91.94643846, 96.46917602, 99.66192434, 96.11088555, 95.57212792])

In [46]:
submit_df

              0          1
0    2016-04-01  65.989206
1    2016-04-02  73.076330
2    2016-04-03  62.837857
3    2016-04-04  57.607645
4    2016-04-05  56.316084
..          ...        ...
360  2017-03-27  95.172858
361  2017-03-28  95.172858
362  2017-03-29  95.172858
363  2017-03-30  95.172858
364  2017-03-31  95.172858

[365 rows x 2 columns]

In [47]:
submit_df[1]=y_pred

In [48]:
submit_df.to_csv('submit_20201029_01.csv',index=False,header=None)